server:
  port: 9087
  servlet:
    encoding:
      enabled: true
      charset: UTF-8
      force: true

spring:
  application:
      name: user-service
  profiles:
    active: dev
  messages:
    basename: messages
    encoding: UTF-8

  jackson:
    serialization:
      INDENT_OUTPUT: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/