server:
  port: 9087
  servlet:
    encoding:
      enabled: true
      charset: UTF-8
      force: true

spring:
  profiles:
    active: dev
  messages:
    basename: messages
    encoding: UTF-8

  jackson:
    serialization:
      INDENT_OUTPUT: true