<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->

<!--    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>-->

<!--    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] %-5level %logger{36} - %msg%n"/>-->

<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--            <providers>-->
<!--                <timestamp>-->
<!--                    <fieldName>timestamp</fieldName>-->
<!--                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>-->
<!--                </timestamp>-->
<!--                <logLevel/>-->
<!--                <threadName/>-->
<!--                <loggerName/>-->
<!--                <message/>-->
<!--                <stackTrace/>-->
<!--                <mdc/>-->
<!--                <globalCustomFields>{"service":"edu-online-messenger","environment":"production"}</globalCustomFields>-->
<!--            </providers>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </root>-->

<!--    <logger name="edu.online.messenger" level="DEBUG"/>-->
<!--</configuration>-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <message/>
                <stackTrace/>
                <mdc/>
                <tags/>
                <ecs>
                    <enabled>true</enabled>
                </ecs>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
